#배포용 docker-compose.yml 

services:
  backend:
    image: nye0817/e-on-backend:latest #본인 도커ID/이미지이름:태그
    container_name: e-on-backend
    restart: always
    ports:
      - "4000:4000"
    depends_on:
      - mysql
    # 백엔드 실행에 필요한 비밀 정보는 이 파일을 참조
    env_file:
      - ./backend.env

  frontend:
    image: nye0817/e-on-frontend:latest #본인 도커ID/이미지이름:태그
    container_name: e-on-frontend
    restart: always
    ports:
      # 실제 서비스에서는 80포트(http)로 연결함.
      - "80:80"
    depends_on:
      - backend

  mysql:
    image: mysql:8.0
    container_name: e-on-mysql
    restart: always
    # DB 생성에 필요한 비밀 정보는 이 파일을 참조
    env_file:
      - ./.env
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: